src/.venv
src/.env
src/manifests/secret.yaml
src/trials
src/ouput.wav
src/__pycache__
src/core/__pycache__
src/routers/__pycache__
src/test/__pycache__
conversations.db
.pytest_cache/
data/conversations.db
