fastapi
langchain
langchain-community
uvicorn
torch
pydantic
starlette
transformers==4.*
wget
matplotlib
scikit-learn
langchain-community
langgraph 
langchain-anthropic 
tavily-python 
langgraph-checkpoint-sqlite
langchain-huggingface