fastapi
langchain
langchain-community
uvicorn
pydantic
starlette
wget
matplotlib
scikit-learn
langchain-community
langgraph
tavily-python
langgraph-checkpoint-sqlite
pytest
langchain-openai
websockets
pylint
lark
setuptools